@page
@model IndexModel
@{
    ViewData["Title"] = "Uth dotnet6 test1";
}

<div class="text-center">
    <h1 class="display-4">Dotnet Test1</h1>
    <p>Server time is <b>@DateTime.Now</b></p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
